.App {
  text-align: center;
}

.game {
  width: 800px;
}

.game-title {
  background: #fff;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
}

.game-title h3 {
  font-size: 22px;
  font-weight: 600;
}

.variant {
  list-style: none;
  background: #fff;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.variant:hover {
  transition: .7s;
  background: #5a9cfa;
  color: #fff;
}


.list-variants {
  margin: 30px 0 0 0;
  padding: 0;
}

.progress-out {
  width: 100%;
  height: 30px;
  background: #5a9cfa;
  border-radius: 5px;
}

.progress-in {
  background: #69db80;
  border-radius: 5px;
  height: 30px;
}

.result {
  background: #fff;
  width: 500px;
  height: 125px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-title p {
  font-size: 20px;
  font-weight: 400;
}

.result-button button {
  background: none;
  border: none;
}

.result-button button a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5a9cfa;
  border: none;
  width: 210px;
  height: 40px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}